body {
  font-family: interLight;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section .banner {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero-section .my-info {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hero-section .name {
  font-family: "Poppins", serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0070e0, #00a1e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 5em;
  font-weight: 800;
  letter-spacing: 12px;
}

.hero-section .role {
  font-family: "Alegreya-SemiBoldItalic", serif;
  font-weight: 400;
  font-size: 1.7em;
  color: #122574;
  letter-spacing: 2px;
  margin-top: -10px;
  margin-bottom: 55px;
}

.social-buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.icon-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}

.icon-button.linkedin {
  border-radius: 10%;
}

.icon-button.github {
  border-radius: 50%;
}

.github:hover {
  box-shadow: rgba(0, 0, 0, 0.473) 0px 3px 15px;
}

.linkedin:hover {
  box-shadow: #0077b78b 0px 3px 15px;
}

.icon-button:hover {
  transform: scale(1.1);
}

section {
  margin-bottom: 70px;
}

h3 {
  font-size: 1.4em;
  letter-spacing: 2px;
  border-bottom: 2px solid #0070d2;
  margin-bottom: 40px;
  width: 20%;
}

h4 {
  margin-bottom: 20px;
}

h3,
h4 {
  font-family: "Raleway-SemiBold", sans-serif;
}

.projects {
  margin-top: 140px;
}

.projects__tiles {
  display: flex;
  justify-content: space-between;
}

.projects__tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 300px;
  border: 1px solid #075283;
  border-radius: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #def2ff;
  overflow: hidden;
}

.projects__tile img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.projects__tile-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  flex-grow: 1;
}

.projects__actions {
  display: flex;
  justify-content: space-around;
}

.projects__actions button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 90px;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
}

.projects__actions button img {
  height: 20px;
  width: 20px;
}

.projects__actions button.github {
  background-color: white;
}

.projects__actions button.demo {
  background-color: #8cb4cf;
}

.projects__actions button:hover {
  transform: scale(1.1);
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.note {
  margin-top: 50px;
  text-align: center;
  font-style: italic;
}
