h1 {
    font-size: 1.4em;
    letter-spacing: 2px;
    border-bottom: 2px solid #0070d2;
    margin-bottom: 40px;
    width: 20%;
}

h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

h1,
h2 {
    font-family: 'Raleway-SemiBold', sans-serif;
}

.projects__tiles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects__tile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 300px;
    margin-bottom: 40px;
    border: 1px solid #075283;
    border-radius: 20px;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #def2ff;
    overflow: hidden;
}

.pills {
    width: calc(100% - 5px);
    top: 5px;
    left: 5px;
    position: absolute;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* Hide initially */
}

.pills::-webkit-scrollbar {
    height: 6px; /* Small height */
}

.pills::-webkit-scrollbar-track {
    background: transparent;
}

.pills::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Light color */
    border-radius: 10px;
    transition: background 0.3s;
}

/* Hide scrollbar when not hovering */
.pills:hover {
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Darker on hover */
}

.pills:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}

.pills span {
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 10px;
    padding: 0 7px;
    margin-right: 5px;
}

.pills span.service-cloud {
    border: 2px rgb(64, 1, 64) solid;
    background-color: rgb(251, 212, 251);
}

.pills span.experience-cloud {
    border: 2px rgb(90, 23, 2) solid;
    background-color: rgb(248, 209, 197);
}

.pills span.lwc {
    border: 2px rgb(90, 90, 2) solid;
    background-color: rgb(255, 255, 215);
}

.pills span.apex {
    border: 2px rgb(1, 28, 78) solid;
    background-color: rgb(199, 218, 252);
}

.pills span.api-rest {
    border: 2px rgb(78, 1, 1) solid;
    background-color: rgb(249, 195, 195);
}

.pills span.web-service {
    border: 2px rgb(1, 78, 63) solid;
    background-color: rgb(198, 252, 242);
}

.projects__tile img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.projects__tile-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    flex-grow: 1;
}

.projects__actions {
    display: flex;
    justify-content: space-around;
}

.projects__actions button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 90px;
    transition:
        transform 0.2s,
        box-shadow 0.3s;
}

.projects__actions button img {
    height: 20px;
    width: 20px;
}

.projects__actions button.github {
    background-color: white;
}

.projects__actions button.demo {
    background-color: #8cb4cf;
}

.projects__actions button:hover {
    transform: scale(1.1);
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.note {
    text-align: center;
    font-style: italic;
}
